{#
/**
 * @file
 * Template for platform donation page.
 *
 * Available variables:
 * - form: The donation form render array.
 */
#}
<div class="mel-donation-page mel-donation-page--platform">
  <div class="mel-donation-page__header">
    <h1>{{ 'Support MyEventLane'|t }}</h1>
  </div>
  <div class="mel-donation-page__content">
    {{ form }}
  </div>
</div>

