{#
/**
 * @file
 * Theme override for the Upcoming Events view.
 */
#}
<div class="view view-upcoming-events">
  <div class="view-content">
    {{ rows }}
  </div>
  {% if pager %}
    {{ pager }}
  {% endif %}
</div>
