{#
/**
 * @file
 * Check-in QR scan template.
 */
#}
<div class="checkin-scan">
  <h1>{{ 'QR Scan Check-in: @event'|t({'@event': event.label}) }}</h1>

  <div class="checkin-actions">
    <a href="{{ path('myeventlane_checkin.page', {'node': event.id}) }}" class="button">{{ 'Back to Check-in'|t }}</a>
  </div>

  <div class="scan-container">
    <div id="qr-scanner"></div>
    <p class="scan-instructions">{{ 'Point your camera at the ticket QR code to check in.'|t }}</p>
  </div>

  <div id="scan-results"></div>
</div>
