{#
  Event about section
  Displays the body/description content
#}
<section class="event-about">
  <h2 class="event-about__title">About this event</h2>

  <div class="event-about__body">
    {{ content.body }}
  </div>
</section>
