{#
/**
 * @file
 * Taxonomy term page template.
 * Simplified to avoid double-page layout - only renders title and content.
 * Event grid is applied by views-view-unformatted.html.twig.
 */
#}
{{ title_prefix }}
<h1>{{ name }}</h1>
{{ title_suffix }}

{{ content }}
