{#
/**
 * @file
 * Theme override for Event node edit page.
 * 
 * Uses page.html.twig which includes header and footer.
 */
#}
{% extends "page.html.twig" %}

{% block content %}
  <div class="mel-page-wrapper mel-page-wrapper--form">
    <div class="mel-container mel-container--form">
      {{ content }}
    </div>
  </div>
{% endblock %}





