{#
/**
 * @file
 * Event edit form template for vendor theme.
 * 
 * Uses the same structure as the create form.
 */
#}
{% extends "page.html.twig" %}

{% block content %}
  <div class="page--event-form">
    <div class="container">
      {{ content }}
    </div>
  </div>
{% endblock %}


















