{#
/**
 * @file
 * Vendor dashboard page template.
 */
#}
{% extends "page.html.twig" %}

{% block content %}
  <div class="page--vendor-dashboard">
    {{ page.content }}
  </div>
{% endblock %}


















