{#
/**
 * @file
 * Admin vendor reports template.
 */
#}
<div class="mel-reporting-admin-vendors">
  <h1>{{ 'Vendor Reports'|t }}</h1>
  <p class="mel-text--muted">{{ 'Vendor-level reporting coming soon.'|t }}</p>
</div>
