{#
/**
 * @file
 * Node edit form template for MyEventLane Admin theme.
 *
 * Variables:
 * - form: The node edit form.
 * - node: The node entity being edited.
 */
#}
<div class="mel-node-edit">
  <div class="mel-form-header mb-4">
    <h1 class="h2">{{ 'Edit'|t }} {{ node.label }}</h1>
  </div>
  {{ form }}
</div>


















