{#
/**
 * @file
 * MyEventLane search block template.
 *
 * Pure presentation template for the MEL search input UI.
 */
#}
<form class="mel-front-search" role="search" action="/search" method="get">
  <label class="visually-hidden" for="mel-front-q">Search events</label>
  <input id="mel-front-q" class="mel-front-search__input" type="search" name="q" placeholder="Search events, venues, organisers" autocomplete="off" />
  <button class="mel-front-search__btn" type="submit">Search</button>
</form>
