@use 'sass:map';

$mel-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

@mixin mel-break($size, $direction: min) {
  $breakpoint: map.get($mel-breakpoints, $size);
  
  @if $direction == max {
    // For max-width, subtract 1px to avoid overlap
    $max-width: $breakpoint - 1px;
    @media (max-width: $max-width) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}