@use 'sass:map';

$mel-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

@mixin mel-break($size) {
  @media (min-width: map.get($mel-breakpoints, $size)) {
    @content;
  }
}